$boxColor:#f1f1f1;
$waterFColor:#209cff;
$waterBColor:#68e0cf;
   
.Forecast {
  // border: 1px solid rgb(55, 62, 160);
  padding-top: 6vh;
  padding-bottom: 6vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  // max-height: 70vh;
  border-radius: 40px;
  .forecast-prediction {
    position: relative;
    &:hover .tooltip {
      display: block;
    }
  }
  .tooltip {
    background: white;
    border-radius: 20px;
    position: absolute;
    z-index: 5;
    height: auto;
    width: 20em;
    top: -3em;
    right: -9em;
    display: none;
    h2 {
      font-size: 1.2em;
      margin-bottom: 0;
    }
    p {
      border: none;
    }
  }
  p {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    padding:  .4em 1.2em;
    display: inline-block;
    margin-bottom: 2vh;
  }
  .dont {
    border: 1px solid green;
  }
  .water {
    border: 1px solid red;
  }
  img {
    border-radius: 10px;
  }

  @media screen and (max-width: 560px) {
    flex-direction: column;
    p {
      margin-bottom: 2vh;
    }
    border-radius: 40px;
    padding-bottom: 4vh;
    img {
    width: calc(100% - 40px);
    border-radius: 10px;
    margin: 2vh 20px;
    };
  }
}
.WaterMeter {
  // outline: 1px dotted red;
  width: 280px;
  height: 280px;
  position: relative;
  margin-bottom: 2vh;
  #moisture-caption {
  position: absolute;
  color: white;
   left: 4em;
   bottom: 3em;
   border: none;
   z-index: 100;
  }
}
.box{
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $boxColor;
  border-radius:100%;
  overflow: hidden; 
  .percent{
    position: absolute;
    left: 0;
    top: 0;
    z-index:3;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content:center; 
    color:#fff;
    font-size:64px;
  } 
  .water{
    position: absolute;
    left: 0;
    top: 0;
    z-index:2;
    width: 100%;
    height: 100%;
    transform:translate(0,100%);
    background:$waterFColor;
    transition: all .3s;
    &_wave{
      width: 200%;
      position: absolute;
      bottom: 100%;
      &_back {
        right: 0;
        fill: $waterBColor;
        animation: wave-back 1.4s infinite linear;
      }
      &_front {
        left: 0;
        fill: $waterFColor;
        margin-bottom: -1px;
        animation: wave-front .7s infinite linear;
      }
    }
  }
}
@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
  
}