@import '../../variables.scss';


.side-bar {
  background: white;
  height: 88vh;
  width: 16vw;
  position: fixed;
  right: 2vw;
  top: 0vh;
  margin-top: 6vh;
  border-radius: 40px;
  transition-duration: 1.5s;
  ul {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 94%;
    transition-duration: 1.5s;
    li, a {
      text-decoration: none;
      color: $grey;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.hidden {
  transform: translateX(18vw);

}