$app-max-width: 960px;
$medium-space: 20px;
$nav-height: 60px;
$app-padding: 20px;
$mobile-min-width: 768px;

$grey: rgb(116, 116, 116);


$main-font: 'Montserrat', sans-serif;
$sub-font: 'Hind', sans-serif;

$main-gradient: linear-gradient(159deg,#512dcf 31%,#10a3d5 100%) #512dcf;


@mixin highlighted-button($color: $button-purple) {

  background: $color;
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: $box-shadow;
  transition: .5s;

  &:hover {
      box-shadow: none;
      transform: translate(4px, 2px);
    }

}

@mixin big-input {
    border: 3px solid $text-color;
    border-radius: 5px;
    background: none;
    height: 40px;
    width: 100%;
    color: $text-color;
    font-size: 16px;
    padding: 0 20px;
}

